
    body {
  font-family: 'Reddit Sans', sans-serif;
}



.main-headings {
    text-align: center;
}

.load-mood {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    background-color: #4865db;
}

.heading-name {
    color: #4865db
}

.quote-main {
    color: #22224f;
}

.date {
    color: #57577a;
}

.main-images{
    display: flex;
    justify-content: space-around;
}